streamlit==1.38.0
openai==0.28.0
sentence-transformers==2.2.2
huggingface-hub==0.13.4
pandas
numpy
scikit-learn
faiss-cpu
pymongo>=4.3
requests
torch
transformers==4.25.1
tokenizers==0.13.3
sentencepiece
tqdm
